
.users-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.courses-table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
.delete-button{
    background-color: #e3062f;
    width: 100px;
    height: 50px;
    text-align: center;
    color: white;

}
/* Style table header */
.users-table th {
    background-color: #5b78ec;
    border: 3px solid #ddd;
    padding: 8px;
    text-align: left;

}

.courses-table th {
    background-color: #5b78ec;
    border: 3px solid #ddd;
    padding: 8px;
    text-align: left;
}

/* Style table rows */
.users-table td {
    border: 1px solid rgba(40, 88, 96, 0.14);
    padding: 8px;
}

.courses-table-table td {
    border: 1px solid rgba(40, 88, 96, 0.14);
    padding: 8px;
}

/* Style alternate row background */
.users-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.courses-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Style delete button on hover */
.users-table button:hover {
    background-color: #c82333;
    transform: scale(1);
}
